.main_home{
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "texto1 texto1"
    "foto_perfil titulo_presentacion"
    "servicios servicios"
    "card1 card1"
    "boton boton";
    justify-content: center;
    
    
    .titulo{
        grid-area: titulo;
        margin: 20px;
        text-align: center;
        font-family: cursive;
    }
    .texto1{
        grid-area: texto1;
        text-align: center;
        font-size: xx-large;
        font-family: fantasy;
    }
    /*.presentacion{
        background-color:rgba(196, 194, 193, 0.514);
        border-radius: 10px;
        grid-area: presentacion;
        display: flex;
        flex-wrap: wrap;*/
       .foto_perfil{
        grid-area: foto_perfil;
           img{
               width: 300px;
               width: 300px;
           }
       }
       .titulo_presentacion{
        grid-area: titulo_presentacion;
        margin: 10px;
       }
    
    
    .titulo_servicios{
        grid-area: servicios;
       h2{
        text-align: center;
        margin: 10px;
        font-size: xx-large;
        text-decoration: underline;
       }
    }
       .tarjetas{
        grid-area: card1 ;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
            .card{
                background-color: #682a4c;
                margin: 10px;
                img{
                    height: 400px;
                }
            }
            
       }
    .boton_servicios{
        grid-area: boton;
        text-align: center;
        margin: 50PX;
    }

}